<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Give a shout out..." %>
  </div>
  <%= f.submit "Shout it out!", class: "btn btn-large btn-primary" %>
<% end %>