 <div>
 <p>Got a new track?</p>
 <form role="form" action="https://mixmymusic.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value=<%= whitespace_to_underscore(current_user.name) + '/${filename}'%> >
      <input type="hidden" name="AWSAccessKeyId" value=<%= ENV["AWS_ACCESS_KEY_ID"] %>> 
      <input type="hidden" name="acl" value="private"> 
      <input type="hidden" name="success_action_redirect" value="http://localhost:3000">
      <input type="hidden" name="policy" value=<%= policy %>>
      <input type="hidden" name="signature" value=<%= signature %>>
      <input id="ct" type="hidden" name="Content-Type" value= ''>
      <!-- Include any additional input fields here -->   
       <input type="file" id="file" name = "file" accept = "audio/*" > 
            <br> 
            <input id="upload" class = "btn btn-large btn-primary" type = "submit" disabled value = "Upload"> 
    </form> 
</div>
