
 <div>
 <p>Got a new track?</p>
 <form role="form" action="https://mixmymusic.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value=<%= ENV["AWS_ACCESS_KEY_ID"] %>> 
      <input type="hidden" name="acl" value="private"> 
      <input type="hidden" name="success_action_redirect" value="http://localhost:3000">
      <input type="hidden" name="policy" value=<%= policy %>>
      <input type="hidden" name="signature" value=<%= signature %>>
      <input id="ct" type="hidden" name="Content-Type" value= ''>
      <!-- Include any additional input fields here -->   
       <input type="file" id="file" name = "file" accept = "audio/*" > 
            <br> 
            <input id="upload" class = "btn btn-large btn-primary" type = "submit" disabled value = "Upload"> 
    </form> 
</div>


<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process audio files.
      if (!f.type.match('audio.*')) {
        document.getElementById('upload').disabled = true;
        continue;
      }
      else {

          document.getElementById('upload').disabled = false;
          document.forms[0].elements["ct"].value = f.type;
      }


    }
  }

  document.getElementById('file').addEventListener('change', handleFileSelect, false);
</script>