<%get_s3%>
<section>
	<h4>Listen to Songs</h4>
<!-- 	<div id=buttons style="padding-bottom: 15px;">
		<button type = 'button' class="play btn btn-primary">Play</button>
	    <button type = 'button' class="stop btn btn-primary">Stop</button>
	</div> -->
	<ul id ='songs' class='playlist js-song-list'>
		<%= render @songs%>
	</ul>
	
	</section>

