<% parts = Part.where('song_id = ?', song.id) %>
<% parts.each do |part| %>
	<% tracks = Track.where('id = ?', part.track_id) %>
	<% tracks.each do |track| %>
		<li class = 'url' data-url = <%= @bucket.objects[track.track_url].url_for(:read)%>>
			Track: <%= track.name %>
		</li>
	<% end %>
<% end %>
