<h4><%= song.name %> </h4>
<span class = 'timestamp'>
	Added <%= time_ago_in_words(song.created_at) %>  ago.
</span>
<span class = 'content'>
<%= render :partial =>'songs/song_tracks', :locals =>{:song => song} if controller_name == "songs" %>
</span>
<%= will_paginate @songs %>
<hr>