<% song.tracks.each do |track| %>
	<li class = 'url' data-url = <%= @bucket.objects[track.track_url].url_for(:read)%>>
		<span class = 'user_avatars'>	
		<%= link_to gravatar_for(track.user, size: 30 ), track.user%>
		</span>
		<%= track.name %>
		  <span class="timestamp">
    		Posted <%= time_ago_in_words(track.created_at) %> ago.
		</span>
	</li>
<% end %>

