<li>
  <span class="content">	 <%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <span class='pull-right'>
  <% if current_user?(micropost.user) %>
    <%= button_to "Delete", micropost, method: :delete,
		:class => "btn btn-default btn-xs",
         data: { confirm: "Do you really want to delete this post?" },
         title: micropost.content %>
  <% end %>
</span>
</li>
