<div class="center hero-unit">
	<% provide(:title, 'Home') %>
	<h1>Mix My Music</h1>
	<h2>Home of Mix My Music.</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>